.imail-header {
    display: flex;
    grid-column: 2/span 4;
    margin: 10px;
}


.imail-main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 96vh;
}

.app-side-bar {
    grid-row: 1/span 7;
    background-color: #EEE;
    padding:  14px;
    font-size: 20px;
    text-align: center;
}

.app-side-bar img {
    width: 86px;
    margin: 10px;
}

.el-icon-position{
    margin-right: 9px;   
}
.el-icon-message{
    margin-right: 9px;   
}
.el-icon-star-off{
    margin-right: 9px;   
}
.el-icon-delete{
    margin-right: 9px;   
}
.el-icon-folder-opened{
    margin-right: 9px;   
}

.app-side-bar a{
    text-decoration: none;
}

.mail-preview {
    background-color: rgb(250, 89, 89);
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #000;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.mail-icons button{
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 25px;
}

.mail-list {
    grid-row: 2/span 6;
    grid-column: 2/span 5;
}

.filter{
    grid-column: 1;
    display: flex;
    margin: 19px auto;
}