.imail-header {
    display: flex;
    grid-column: 2;
}

.imail-header img {
    width: 100px;
}

.imail-main {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 96vh;
}

.app-side-bar {
    grid-row: 2/span 6;
    /* background-color: #EEE; */
    padding:  14px;
    font-size: 20px;
    text-align: center;
}

.app-side-bar a{
    text-decoration: none;
}

.mail-preview {
    background-color: rgb(250, 89, 89);
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #000;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.mail-icons button{
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(250, 89, 89);
    font-size: 25px;
}

.mail-list {
    grid-row: 2/span 6;
    grid-column: 2/span 5;
}