.mail-details {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 96vh;
}

.mail-section {
    background-color: rgb(250, 89, 89);
    grid-column: 2/span 6;
    grid-row: 2/span 6;
    padding: 30px;
}

.mail-section img {
    border-radius: 50px;
    width: 35px;
}

.read {
    font-weight: normal;
}

.yellow {
    color: yellow;
}

.mail-replay{
    background: #FFF;
    position: absolute;
    bottom: 0;
    right: 115px;
    width: 600px;
    text-align: center;
    border-radius: 5px;
}