@import url('./mail-header.css');
@import url('./mail-details.css');
@import url('./mail-compose.css');
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: Roboto;
    margin: 0;
}

.header-nav {
    text-decoration: none;
    padding: 10px;
}

.el-menu {
    box-shadow: 0px -6px 18px #000;
}

.el-tabs__active-bar {
    background-color: rgb(250, 89, 89);
}

.el-tabs__item.is-active{
    color: rgb(250, 89, 89);
}
button:focus {outline:0;}
