.notes-list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.note-container {
    width: 320px;
    height: 205px;
    background-color: #EEE;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pinned-note {
    width: 26px;
    border: none;
    background: none;
    cursor: pointer;
    float: right;
}

.input-add{
    width: 150px;
}
.edit-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.note-tools{
    display: flex;
    justify-content: space-evenly;
}